body {
  background-color: white;
  font-family: "Assistant", sans-serif;
  color: #0032A3;
}

.navbar-brand img {
  width: 103px;
  height: 26px;
  left: 196px;
  top: 17px;
}

.btn-login {
  background-color: #0032A3;
  color: white;
}
.btn-login:hover {
  background-color: #1b4fc9;
  color: white;
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -33px !important;
  height: 58px;
  border-radius: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: #0032A3;
}
.navbar-light .navbar-nav .nav-link.active {
  color: #0032A3;
  font-weight: bold;
}

header {
  padding: 196px 0px 180px;
  background-image: url("/frontend/images/header.png");
  background-size: cover;
  margin-top: -56px;
}
header h1 {
  font-family: "Playfair Display", serif;
  font-size: 50;
  font-weight: bold;
}
header p {
  font-family: "Assistant", sans-serif;
  font-size: 20;
}
header h1, header p {
  color: white;
}

.btn-get-started {
  background-color: #FF7121;
  color: white;
}
.btn-get-started:hover {
  background-color: #ec5e0c;
  color: white;
}

.btn-need-help {
  background-color: #E5E5E5;
  color: #757575;
}
.btn-need-help:hover {
  background-color: #b3b3b3;
  color: #757575;
}

.section-stats {
  margin-top: -50px;
}
.section-stats .stats-detail {
  padding-top: 24px;
  background-color: white;
  padding-left: -50px;
}
.section-stats h2 {
  font-size: 28;
  font-weight: bold;
  margin-bottom: 0;
}
.section-stats p {
  font-size: 20;
  font-weight: normal;
}

.section-popular {
  min-height: 489px;
  background-color: #0032A3;
  margin-top: -53px;
  margin-bottom: -230px;
}
.section-popular .section-popular-heading {
  margin-top: 108px;
}
.section-popular .section-popular-heading h2 {
  font-family: "Playfair Display", serif;
  font-size: 40;
  font-weight: bold;
}
.section-popular .section-popular-heading p {
  font-family: "Assistant", sans-serif;
  font-size: 20;
}
.section-popular .section-popular-heading h2, .section-popular .section-popular-heading p {
  color: white;
}

.section-popular-content .section-popular-travel .card-travel {
  min-height: 380px;
  background-color: grey;
  background-size: cover;
  color: white;
  padding: 20;
  margin-bottom: 29px;
}
.section-popular-content .section-popular-travel .card-travel .travel-country {
  font-size: 24;
}
.section-popular-content .section-popular-travel .card-travel .travel-location {
  font-size: 26;
}
.section-popular-content .section-popular-travel .card-travel .travel-button .btn-travel-details {
  background-color: #FF7121;
  color: white;
}
.section-popular-content .section-popular-travel .card-travel .travel-button .btn-travel-details:hover {
  background-color: #ec5e0c;
  color: white;
}

.section-networks {
  margin-top: 100px;
}
.section-networks h2 {
  font-family: "Playfair Display", serif;
  font-size: 36;
  font-weight: bold;
}
.section-networks p {
  font-size: 20;
  font-weight: normal;
}
.section-networks img {
  margin-left: 5px;
}

.section-testimonial-heading {
  min-height: 598px;
  padding-top: 140px;
  background: linear-gradient(#FFFFFF 0%, #F4F7FF 100%);
}
.section-testimonial-heading h2 {
  font-family: "Playfair Display", serif;
  font-size: 36;
  font-weight: bold;
}
.section-testimonial-heading p {
  font-size: 20;
  font-weight: normal;
  padding-top: 21px;
}

.section-testimonial-content {
  margin-top: -280px;
  padding-bottom: 53px;
}
.section-testimonial-content .card-testimonial {
  border-radius: 11px;
  padding-top: 41px;
  padding-bottom: 53px;
}
.section-testimonial-content .card-testimonial .testimonial-content {
  min-height: 417px;
}
.section-testimonial-content .card-testimonial .testimonial-content h3 {
  font-size: 22;
  font-weight: bold;
}
.section-testimonial-content .card-testimonial .testimonial-content .testimonial {
  font-size: 24;
  font-weight: normal;
}
.section-testimonial-content .card-testimonial .trip-to {
  font-size: 22;
  color: #6E6E6E;
  font-weight: bold;
}

.section-footer h5 {
  color: #6E6E6E;
}
.section-footer a {
  color: #6E6E6E;
}
.section-footer .footer-text {
  color: #6E6E6E;
  font-size: 22;
  font-weight: bold;
}

.section-details-heading {
  min-height: 272px;
  background-color: #C7CAE2;
  margin-top: -60px;
}

.section-details-content {
  min-height: 100vh;
  margin-top: -180px;
}
.section-details-content .transaction {
  margin-top: 106px;
}
.section-details-content .breadcrumb {
  background-color: transparent;
}
.section-details-content .breadcrumb .breadcrumb-item {
  color: #0032A3;
  margin-bottom: 30px;
}
.section-details-content .breadcrumb .breadcrumb-item.active {
  font-weight: bold;
}
.section-details-content .card-order {
  margin-top: 35px;
  padding: 21px;
}
.section-details-content .card-order .btn-show {
  background-color: #0032A3;
  color: white;
  width: 150px;
}
.section-details-content .card-order .btn-show:hover {
  background-color: #1b4fc9;
  color: white;
}
.section-details-content .card-details {
  border-radius: 11px;
  padding: 34px;
}
.section-details-content .card-details input {
  width: 120px;
}
.section-details-content .card-details thead, .section-details-content .card-details tbody {
  color: #0032A3;
}
.section-details-content .card-details h1, .section-details-content .card-details h2, .section-details-content .card-details h3 {
  font-weight: bold;
}
.section-details-content .card-details h1 {
  font-size: 24;
}
.section-details-content .card-details h2 {
  font-size: 20;
}
.section-details-content .card-details h3 {
  font-size: 14;
}
.section-details-content .card-details p {
  color: #9A9A9A;
  font-size: 18;
  font-weight: normal;
  margin-bottom: 0;
}
.section-details-content .card-details .disclaimer {
  font-size: 14;
}
.section-details-content .card-details .feature {
  margin-top: 29px;
}
.section-details-content .card-details .feature .features-image {
  float: left;
}
.section-details-content .card-details .feature .description {
  margin-left: 18px;
  overflow: hidden;
  float: left;
}
.section-details-content .card-details .feature .description h3 {
  font-size: 18;
}
.section-details-content .card-details .feature .description p {
  font-size: 14;
}
.section-details-content .card-details .gallery .xzoom-cover {
  display: block;
}
.section-details-content .card-details .gallery .xzoom-cover .xzoom {
  width: 100%;
  box-shadow: none;
}
.section-details-content .card-details .gallery .xzoom-thumbnails {
  margin-top: 23px;
}
.section-details-content .card-details .trip-info th {
  font-weight: normal;
  font-size: 18;
}
.section-details-content .card-details .trip-info td {
  color: #9A9A9A;
  font-size: 18;
}
.section-details-content .card-details .trip-info td .text-blue {
  color: #0032A3;
  font-weight: bold;
}
.section-details-content .card-details .payment-instruction {
  font-size: 14;
}
.section-details-content .card-details .bank .bank-item {
  margin-top: 20px;
}
.section-details-content .card-details .bank .bank-item .bank-image {
  width: 45px;
  height: 45px;
  float: left;
}
.section-details-content .card-details .bank .bank-item .description {
  float: left;
  overflow: hidden;
  margin-left: 11px;
}
.section-details-content .card-details .bank .bank-item .description h3, .section-details-content .card-details .bank .bank-item .description p {
  color: #0032A3;
  font-size: 14;
}
.section-details-content .card-details .btn-add-now {
  background-color: #0032A3;
  color: white;
}
.section-details-content .card-details .btn-add-now:hover {
  background-color: #1b4fc9;
  color: white;
}
.section-details-content .card-right {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.section-details-content .card-right .members .member-image {
  width: 40px;
  height: 40px;
}
.section-details-content .join-container {
  margin-top: -16px;
}
.section-details-content .join-container .btn-join-now {
  background-color: #FF7121;
  color: white;
  border-radius: 0;
}
.section-details-content .join-container .btn-join-now:hover {
  background-color: #ec5e0c;
  color: white;
}

.section-success {
  height: 90vh;
}
.section-success h1 {
  font-size: 24;
  font-weight: bold;
}
.section-success p {
  font-size: 18;
  font-weight: normal;
  color: #9A9A9A;
}
.section-success .btn-home-page {
  background-color: #0032A3;
  color: white;
  border-radius: 4px;
}
.section-success .btn-home-page:hover {
  background-color: #1b4fc9;
  color: white;
}

@media (min-width: 992px) {
  .login-container {
    background: linear-gradient(90deg, #FFFFFF 60%, #D9DAEB 40%);
    width: 100vw;
    height: 100vh;
  }
}
.login-container .page-login {
  height: 100vh;
}
.login-container .page-login .section-left h1 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-weight: bold;
  text-align: left;
}
.login-container .page-login .section-right .btn-login {
  background-color: #FF7121;
  color: white;
}
.login-container .page-login .section-right .btn-login:hover {
  background-color: #ec5e0c;
  color: white;
}
.login-container .page-login .section-right a {
  color: #BDBDBD;
}
