body {
    background-color: white;
    font-family: 'Assistant', sans-serif;
    color: #0032A3;
}

// Navbar
.navbar-brand {
    img {
        width: 103px;
        height: 26px;
        left: 196px;
        top: 17px;
    }
}

.btn-login {
    background-color: #0032A3;
    color: white;

    &:hover {
        background-color: #1b4fc9;
        color: white;
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -33px !important;

    height: 58px;
    border-radius: 0;
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #0032A3;

            &.active {
                color:#0032A3;
                font-weight: bold;
            }
        }
    }
}

// Header
header {
    padding: 196px 0px 180px;
    background-image: url('../images/header.png');
    background-size: cover;
    margin-top: -56px;

    h1 {
        font-family: 'Playfair Display', serif;
        font-size: 50;
        font-weight: bold;
    }

    p {
        font-family: 'Assistant', sans-serif;
        font-size: 20;
    }
    h1, p {
        color: white;
    }
}

.btn-get-started {
    background-color: #FF7121;
    color: white;

    &:hover {
        background-color: #ec5e0c;
        color: white;
    }
}

.btn-need-help {
    background-color: #E5E5E5;
    color: #757575;

    &:hover {
        background-color: #b3b3b3;
        color: #757575;
    }
}

// Main
.section-stats {
    margin-top: -50px;

    .stats-detail {
        padding-top: 24px;
        background-color: white;
        padding-left: -50px;
    }

    h2 {
        font-size: 28;
        font-weight: bold;
        margin-bottom: 0;
    }

    p {
        font-size: 20;
        font-weight: normal;
    }
}

.section-popular {
    min-height: 489px;
    background-color: #0032A3;
    margin-top: -53px;
    margin-bottom: -230px;

    .section-popular-heading {
        margin-top: 108px;
        h2 {
            font-family: 'Playfair Display', serif;
            font-size: 40;
            font-weight: bold;
        }
    
        p {
            font-family: 'Assistant', sans-serif;
            font-size: 20;
        }
        h2, p {
            color: white;
        }
    }
}

.section-popular-content {
    
    .section-popular-travel {
        .card-travel {
            min-height: 380px;
            background-color: grey;
            background-size: cover;
            color: white;
            padding: 20;
            margin-bottom: 29px;
            
            .travel-country {
                font-size: 24;
            }

            .travel-location {
                font-size: 26;
            }

            .travel-button {
                .btn-travel-details {
                    background-color: #FF7121;
                    color: white;

                    &:hover {
                        background-color: #ec5e0c;
                        color: white;
                    }
                }
            }
        }
    }
}

.section-networks {
    margin-top: 100px;
    h2 {
        font-family: 'Playfair Display', serif;
        font-size: 36;
        font-weight: bold;
    }

    p {
        font-size: 20;
        font-weight: normal;
    }

    img {
        margin-left: 5px;
    }
}

.section-testimonial-heading {
    min-height: 598px;
    padding-top: 140px;
    background: linear-gradient(#FFFFFF 0%, #F4F7FF 100%);

    h2 {
        font-family: 'Playfair Display', serif;
        font-size: 36;
        font-weight: bold;
    }

    p {
        font-size: 20;
        font-weight: normal;
        padding-top: 21px;
    }
}

.section-testimonial-content {
    margin-top: -280px;
    padding-bottom: 53px;

    .card-testimonial {
        border-radius: 11px;
        padding-top: 41px;
        padding-bottom: 53px;
        
        .testimonial-content {
            min-height: 417px;

            h3 {
                font-size: 22;
                font-weight: bold;
            }

            .testimonial {
                font-size: 24;
                font-weight: normal;
            }
        }

        .trip-to {
            font-size: 22;
            color: #6E6E6E;
            font-weight: bold;
        }
    }
}

.section-footer {
    h5 {
        color: #6E6E6E;
    }
    a {
        color: #6E6E6E;
    }

    .footer-text {
        color: #6E6E6E;
        font-size: 22;
        font-weight: bold;
    }
}

.section-details-heading {
    min-height: 272px;
    background-color: #C7CAE2;
    margin-top: -60px;
}

.section-details-content {
    min-height: 100vh;
    margin-top: -180px;

    .transaction {
        margin-top: 106px;
    }

    .breadcrumb {
        background-color: transparent;

        .breadcrumb-item {
            color: #0032A3;
            margin-bottom: 30px;

            &.active {
                font-weight: bold;
            }
        }
    }

    .card-order {
        margin-top: 35px;
        padding: 21px;

        .btn-show {
            background-color: #0032A3;
            color: white;
            width: 150px;

            &:hover {
                background-color: #1b4fc9;
                color: white;
            }
        }
    }

    .card-details {
        border-radius: 11px;
        padding: 34px;

        h1, h2, h3 {
            font-weight: bold;
        }

        h1 {
            font-size: 24;
        }

        h2 {
            font-size: 20;
        }

        h3 {
            font-size: 14;
        }

        p {
            color: #9A9A9A;
            font-size: 18;
            font-weight: normal;
            margin-bottom: 0;
        }

        .disclaimer {
            font-size: 14;
        }

        .feature {
            margin-top: 29px;

            .features-image {
                float: left;
            }

            .description {
                margin-left: 18px;
                overflow: hidden;
                float: left;

                h3 {
                    font-size: 18;
                }

                p {
                    font-size: 14;
                }

            }
        }

        .gallery {
            .xzoom-cover {
                display: block;

                .xzoom {
                    width: 100%;
                    box-shadow: none;
                }
            }

            .xzoom-thumbnails {
                margin-top: 23px;
            }
        }

        .trip-info {
            th {
                font-weight: normal;
                font-size: 18;
            }

            td {
                color: #9A9A9A;
                font-size: 18;

                .text-blue {
                    color: #0032A3;
                    font-weight: bold;
                }
            }
        }

        .payment-instruction {
            font-size: 14;
        }

        .bank {

            .bank-item {
                margin-top: 20px;

                .bank-image {
                    width: 45px;
                    height: 45px;
                    float: left;
                }

                .description {
                    float: left;
                    overflow: hidden;
                    margin-left: 11px;

                    h3, p {
                        color: #0032A3;
                        font-size: 14;
                    }
                }
            }
        }

        .btn-add-now {
            background-color: #0032A3;
            color: white;

            &:hover {
                background-color: #1b4fc9;
                color: white;
            }
        }
    }

    .card-right {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 0;

        .members {
            .member-image {
                width: 40px;
                height: 40px;
            }
        }
    }

    .join-container {
        margin-top: -16px;

        .btn-join-now {
            background-color: #FF7121;
            color: white;
            border-radius: 0;

            &:hover {
                background-color: #ec5e0c;
                color: white;
            }
        }
    }
}

// Checkout Success
.section-success {
    height: 90vh;

    h1 {
        font-size: 24;
        font-weight: bold;
    }

    p {
        font-size: 18;
        font-weight: normal;
        color: #9A9A9A;
    }

    .btn-home-page {
        background-color: #0032A3;
        color: white;
        border-radius: 4px;

        &:hover {
            background-color: #1b4fc9;
            color: white;
        }
    }
}

// Login
.login-container {
    @media (min-width: 992px) {
        background: linear-gradient(90deg, #FFFFFF 60%, #D9DAEB 40%);
        width: 100vw;
        height: 100vh;
    }

    .page-login {
        height: 100vh;

        .section-left {
            h1 {
                font-family: 'Playfair Display', serif;
                font-size: 48px;
                font-weight: bold;
                text-align: left;
            }
        }

        .section-right {

            .btn-login {
                background-color: #FF7121;
                color: white;

                &:hover {
                    background-color: #ec5e0c;
                    color: white;
                }
            }

            a {
                color: #BDBDBD;
            }
        }
    }
}